<div [formGroup]="form" class="form">
  <mat-form-field appearance="fill" >
    <mat-label>{{'form.firstName' | translate}}</mat-label>
    <input matInput formControlName="firstName" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>{{'form.lastName' | translate}}</mat-label>
    <input matInput formControlName="lastName" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>{{'form.email' | translate}}</mat-label>
    <input matInput formControlName="email" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>{{'form.phone' | translate}}</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>{{'form.cpf' | translate}}</mat-label>
    <input matInput formControlName="cpf" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>{{'form.cep' | translate}}</mat-label>
    <input matInput formControlName="cep" [required]="true">
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button (click)="voltar()">Voltar</button>
    <button mat-raised-button (click)="salvar()" [disabled]="!this.form.valid">Salvar</button>
  </div>
</div>

