<div [formGroup]="form" class="form">
  <mat-form-field appearance="fill" >
    <mat-label>Nome</mat-label>
    <input matInput formControlName="firstName" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>Sobrenome</mat-label>
    <input matInput formControlName="lastName" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>Telefone</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" [required]="true">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" >
    <mat-label>CEP</mat-label>
    <input matInput formControlName="cep" [required]="true">
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button (click)="voltar()">Voltar</button>
    <button mat-raised-button (click)="salvar()" [disabled]="!this.form.valid">Salvar</button>
  </div>
</div>

